<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%d{HH:mm:ss}) %highlight(%-5level) %cyan(%logger{15}) : %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="WARN"/>

    <logger name="io.ktor" level="INFO"/>

    <logger name="org.eclipse.jetty" level="WARN"/>

    <logger name="meigo.tulpar" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>